<!doctype html>
<html lang="en">
<head>
    {{template "head" .}}
</head>
<body>
<div class="container">
    <h3 class="m-3">Presence</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Identity</th>
            <th scope="col">Alias</th>
            <th scope="col">Flags</th>
        </tr>
        </thead>
        <tbody>
        {{range .Presence}}
            {{$key := .Key}}
        <tr>
            <td>{{.DisplayName}}</td>
            <td>{{.Alias}}</td>
            <td>
                {{range .Flags}}
                    <span>
                        {{if eq . "setup"}}
                            <a href="/invite/{{$key}}" target="_blank">setup</a>
                        {{else}}
                            {{.}}
                        {{end}}
                    </span>
                {{end}}
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>