<!DOCTYPE html>
<html lang="en">
<head>
    <title>mod_webdata</title>
</head>
<body>
<p>root</p>

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
        </tr>
    {{range .}}
        <tr>
            <td><a href="/index/{{.Name}}">{{.Name}}</a></td>
            <td>{{.Type}}</td>
            <td>{{.Size}}</td>
        </tr>
    {{end}}
    </table>
</div>
</body>
</html>